.inline-label{
    display: inline-block;
}
.block-label{
    display: block;
}

#new-spot-form{
    margin: auto;
    border: 2px solid black;
    padding: 15px;
    border-radius: 8px;
}

#create-spot-section{
    width: 75vw;
    margin: 15px auto;
    /* border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box; */
}
/* .file-input-button{

} */

.full-width{
    width: 98%;
}
.half-width{
    width: 40%;
}
.form-error{
    color: red;
}

.width98{
    flex-grow: 1;
    width:96%;
}

#new-spot-form input{
    border: 1px solid rgb(24, 27, 108);
    height: 25px;
    border-radius: 3px;
    margin: 5px 2px;
    padding: 5px;
    background-color: rgb(211, 221, 243);
    border: 2px solid black;
}
#new-spot-form textarea{
    background-color: rgb(211, 221, 243);
    border: 2px solid black;
    width: 100%;
    margin: 10px auto;
    /* margin: 5px 12px; */
}
#new-spot-form label{
    display: flex;
    flex-direction: column;
}
#new-spot-form h2{
    margin: 10px 0;
}

/* ////// */
.no-list-style{
    list-style: none;
}
.main-form-style{
    width: 80vw;
    margin: auto;
}

.form-butt{
    font-weight: bolder;
    font-size: large;
    height: 50px;
    width: 120px;
    margin-bottom: 15px;
}

.update-butt{
    padding: 10px;
    font-weight: bolder;
}

.suggestion-item{
    padding: 3px;
    background-color: rgb(255, 255, 255);
}
.suggestion-item:hover{
    padding: 3px;
    background-color: rgb(162, 62, 62);
    cursor: pointer;
}
.suggestion-item--active{
    padding: 3px;
    background-color: brown;
    cursor: pointer;
}
.autocomplete-label{
    /* display: flex; */
    position: relative;
    /* border: 2px solid red; */
}
.autocomplete-dropdown-container {
    position: absolute;
    /* border: 1px solid red; */
    border-radius: 5px;
    top: calc(100% - 5px); /* adjust this value to add extra spacing if needed */
    left: 2px;
    width: 90%;
  }

  .auto-dropdown span{
    padding: 5px;
    background-color: red;
    cursor: pointer;
  }
