.inline-label{
    display: inline-block;
}
.block-label{
    display: block;
}

#new-spot-form{
    margin: auto;
}

#create-spot-section{
    width: 75vw;
    margin: auto;
    /* border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box; */
}

.full-width{
    width: 98%;
}
.half-width{
    width: 40%;
}
.form-error{
    color: red;
}

#new-spot-form input{
    border: 1px solid rgb(24, 27, 108);
    height: 25px;
    border-radius: 3px;
    margin: 5px 2px;
    padding: 5px;
    background-color: rgb(201, 216, 249);
}

#new-spot-form label{
    display: flex;
    flex-direction: column;
}
