#all-spots-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 20px;
}

#all-spot-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1199px) {
  #all-spots-section {
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
  }
}

@media (max-width: 991px) {
  #all-spots-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  #all-spots-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
