.hidden{
    display: none;
}

.nav-bar{
    display: flex;
    position:sticky;
    top: 0px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 35px;
    border-bottom: 1px solid rgb(64, 64, 64);
    background-color: rgba(238, 242, 255, 1);

}

.profile-dropdown{
    position: absolute;

    /* display: flex;
    flex-direction: column;
    align-items: center; */

    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
    list-style: none;
    top: 75px;
    right: 10px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    /* height: 200px; */
    width: 180px;
    /* z-index: 1;s */
}

.profile-dropdown li{
    margin: 15px 0;
}

#profile-button{
    padding: 5px;
    /* display: flex; */
    /* justify-content: center; */
    font-size: 2em;
    border-radius: 15px;
    background-color: azure;
    border: 2px solid rgb(0, 85, 255);
}
.logged-in{
    color: rgb(31, 132, 132);
}
.no-user{
    color: rgb(95, 116, 115);
}

.create-spot-nav-link{
    text-decoration: none;
    margin-right: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;

    /* border: 1px solid rgba(0, 85, 255,0.1); */
    border-radius: 4px;
    padding: 8px;
}
.create-spot-nav-link:hover{
    animation: glow 1s ease-in-out infinite;
}
/* .testClass{
    color: red;
    border: 1px dotted blue;
    margin-right: 10px;
} */

#home-logo{
   position: relative;
   top: 5px;
   height: 50px;
}

#profile-button-container{
    display: flex;
    align-items: center;
}

.link-styling{
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    padding: 2px;
}
@keyframes glow {
    0% {
      box-shadow: 0 0 5px 0 rgba(101, 193, 255, 0.4);
    }
    50% {
      box-shadow: 0 0 5px 5px rgba(101, 193, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 5px 0 rgba(101, 193, 255, 0.4);
    }
  }
