.hidden{
    display: none;
}

.nav-bar{
    display: flex;
    /* position: relative; */
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 35px;
    border-bottom: 1px solid gray;

}

.profile-dropdown{
    position: absolute;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid blue;
    border-top: none;
    list-style: none;
    top: 75px;
    right: 10px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    /* height: 200px; */
    width: 180px;
    z-index: 1;
}

.profile-dropdown li{
    margin: 15px 0;
}

#profile-button{
    padding: 5px;
    /* display: flex; */
    /* justify-content: center; */
    font-size: 2em;
    border-radius: 15px;
    background-color: azure;
    border: 2px solid rgb(0, 85, 255);
}
.logged-in{
    color: rgb(31, 132, 132);
}
.no-user{
    color: rgb(95, 116, 115);
}

.create-spot-nav-link{
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
/* .testClass{
    color: red;
    border: 1px dotted blue;
    margin-right: 10px;
} */

#home-logo{
   position: relative;
   top: 5px;
   height: 50px;
}

#profile-button-container{
    display: flex;
    align-items: center;
}
