.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* width: 100%; */
    border: 1px solid gray;
    padding: 5px;
}

/* .login-form-modal{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.login-form-form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}
.login-form-form input{
    margin: auto;
    display: block;
}
.login-form-form label{
    margin: auto;
    /* margin: 10px; */
    display: block;
}
